### SQL Assignment
- Read in the data for each table
- Use code to show the number of rows and columns for each table in the database.

In [1]:
#library to use dataframes
import pandas as pd

#library to connect & interact with databases
from sqlalchemy import create_engine, inspect

In [2]:
#set the database file location to a variable
db_file = r'datasets/boardgames.sqlite'

# set the connection to SQLite database in a variable
engine = create_engine(f"sqlite:///{db_file}")

In [19]:
#get a list of all the tables in the database
engine.table_names()

['BoardGames',
 'bgg.ldaOut.top.documents',
 'bgg.ldaOut.top.terms',
 'bgg.ldaOut.topics',
 'bgg.topics']

In [8]:
inspector = inspect(engine)

fields = inspector.get_columns('BoardGames')
field_names = pd.DataFrame.from_dict(fields)
field_names

,name,type,nullable,default,autoincrement,primary_key
0,row_names,TEXT,True,None,auto,0
1,game.id,TEXT,True,None,auto,0
2,game.type,TEXT,True,None,auto,0
3,details.description,TEXT,True,None,auto,0
4,details.image,TEXT,True,None,auto,0
...,...,...,...,...,...,...
76,stats.family.commodore64.pos,REAL,True,None,auto,0
77,stats.subtype.rpgitem.bayesaverage,REAL,True,None,auto,0
78,stats.subtype.rpgitem.pos,REAL,True,None,auto,0
79,stats.subtype.videogame.bayesaverage,REAL,True,None,auto,0
80,stats.subtype.videogame.pos,REAL,True,None,auto,0

In [10]:
fields = inspector.get_columns('bgg.ldaOut.top.documents')
field_names = pd.DataFrame.from_dict(fields)
field_names

        name     type  nullable default autoincrement  primary_key
0  row_names     TEXT      True    None          auto            0
1   document     TEXT      True    None          auto            0
2      topic  INTEGER      True    None          auto            0
3      gamma     REAL      True    None          auto            0

In [11]:
fields = inspector.get_columns('bgg.ldaOut.top.terms')
field_names = pd.DataFrame.from_dict(fields)
field_names

        name     type  nullable default autoincrement  primary_key
0  row_names     TEXT      True    None          auto            0
1      topic  INTEGER      True    None          auto            0
2       term     TEXT      True    None          auto            0
3       beta     REAL      True    None          auto            0

In [12]:
fields = inspector.get_columns('bgg.ldaOut.topics')
field_names = pd.DataFrame.from_dict(fields)
field_names

                 name     type  nullable default autoincrement  primary_key
0           row_names     TEXT      True    None          auto            0
1  topics(bgg.ldaOut)  INTEGER      True    None          auto            0

In [13]:
fields = inspector.get_columns('bgg.topics')
field_names = pd.DataFrame.from_dict(fields)
field_names

,name,type,nullable,default,autoincrement,primary_key
0,row_names,TEXT,True,None,auto,0
1,game.id,TEXT,True,None,auto,0
2,game.type,TEXT,True,None,auto,0
3,details.maxplayers,INTEGER,True,None,auto,0
4,details.maxplaytime,INTEGER,True,None,auto,0
...,...,...,...,...,...,...
69,details.minplayers.factor,TEXT,True,None,auto,0
70,details.maxplayers.factor,TEXT,True,None,auto,0
71,details.minage.factor,TEXT,True,None,auto,0
72,stats.average.factor,TEXT,True,None,auto,0
73,topic,TEXT,True,None,auto,0

In [9]:
#get all the rows from the "BoardGames" table in the database
bg = "SELECT * FROM BoardGames;"

#the read_sql function takes in the SQL statement for the information requested and the engine (to connect to database)
data_df = pd.read_sql(bg, engine)
data_df

,row_names,game.id,game.type,details.description,details.image,details.maxplayers,details.maxplaytime,details.minage,details.minplayers,details.minplaytime,...,stats.family.arcade.bayesaverage,stats.family.arcade.pos,stats.family.atarist.bayesaverage,stats.family.atarist.pos,stats.family.commodore64.bayesaverage,stats.family.commodore64.pos,stats.subtype.rpgitem.bayesaverage,stats.subtype.rpgitem.pos,stats.subtype.videogame.bayesaverage,stats.subtype.videogame.pos
0,1,1,boardgame,Die Macher is a game about seven sequential po...,//cf.geekdo-images.com/images/pic159509.jpg,5.0,240.0,14.0,3.0,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,boardgame,Dragonmaster is a trick-taking card game based...,//cf.geekdo-images.com/images/pic184174.jpg,4.0,30.0,12.0,3.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3,boardgame,"Part of the Knizia tile-laying trilogy, Samura...",//cf.geekdo-images.com/images/pic3211873.jpg,4.0,60.0,10.0,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4,boardgame,When you see the triangular box and the luxuri...,//cf.geekdo-images.com/images/pic285299.jpg,4.0,60.0,12.0,2.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,5,boardgame,"In Acquire, each player strategically invests ...",//cf.geekdo-images.com/images/pic342163.jpg,6.0,90.0,12.0,3.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90395,90396,220053,boardgame,Soldier Ball is a tabletop skill and strategy ...,//cf.geekdo-images.com/images/pic3436079.jpg,2.0,15.0,4.0,2.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90396,90397,220055,boardgame,Description from the designer:&#10;&#10;The ye...,//cf.geekdo-images.com/images/pic3529002.jpg,4.0,45.0,14.0,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90397,90398,220068,boardgameexpansion,Cecrops founded Athens and judged a competitio...,//cf.geekdo-images.com/images/pic3503602.jpg,4.0,90.0,14.0,1.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90398,90399,220069,boardgameexpansion,"The famous Myrmidons are the army of Achilles,...",//cf.geekdo-images.com/images/pic3437871.jpg,4.0,90.0,14.0,1.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90399,90400,220070,boardgame,A snowbound small village. It quietly approach...,None,6.0,20.0,12.0,3.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
topdoc = "SELECT * FROM 'bgg.ldaOut.top.documents';"

data_df = pd.read_sql(topdoc, engine)
data_df

,row_names,document,topic,gamma
0,1,The.Lounge..A.Mafia.Game,1,0.203125
1,2,Ultimate.Werewolf..Ultimate.Edition,1,0.200000
2,3,Ultimate.Werewolf..Deluxe.Edition.For.Kickstarter,1,0.200000
3,4,Werewolf,1,0.194805
4,5,Παλέρμο..Το.Μεγάλο.Ξεκαθάρισμα,1,0.190476
...,...,...,...,...
283,284,Food.Fight.1,25,0.107143
284,285,Pirates.Code,25,0.107143
285,286,City.of.Iron,25,0.106061
286,287,Ascension..Rise.of.Vigil,25,0.105263
287,288,Abyss,25,0.103448

In [41]:
top = "SELECT * FROM 'bgg.ldaOut.top.terms';"

data_df = pd.read_sql(top, engine)
data_df

    row_names  topic                                   term      beta
0           1      1                      Bluffing.category  0.183436
1           2      1                     Deduction.category  0.164224
2           3      1                  Partnerships.mechanic  0.080226
3           4      1                     PartyGame.category  0.066343
4           5      1                Murder.Mystery.category  0.048674
..        ...    ...                                    ...       ...
245       246     25  Admin.BetterDescriptionNeeded..family  0.049069
246       247     25                      Bluffing.category  0.015536
247       248     25          PointtoPointMovement.mechanic  0.008508
248       249     25    FantasyFlightSilverLineGames.family  0.004554
249       250     25                       Pirates.category  0.003968

[250 rows x 4 columns]

In [43]:
topics = "SELECT * FROM 'bgg.ldaOut.topics';"

data_df = pd.read_sql(topics, engine)
data_df

                                         row_names  topics(bgg.ldaOut)
0                                       Die.Macher                   8
1                                     Dragonmaster                   5
2                                          Samurai                  22
3                                   Tal.der.Könige                   4
4                                          Acquire                   4
...                                            ...                 ...
29224                                Crop.Rotation                  24
29225                             Ciudad.de.Cartón                   8
29226               Vikings.Gone.Wild.Ultimate.Set                  16
29227  Test.of.Honour..The.Samurai.Miniatures.Game                   7
29228                     Barbarians..The.Invasion                   4

[29229 rows x 2 columns]

In [44]:
topics2 = "SELECT * FROM 'bgg.topics';"

data_df = pd.read_sql(topics2, engine)
data_df

,row_names,game.id,game.type,details.maxplayers,details.maxplaytime,details.minage,details.minplayers,details.minplaytime,details.name,details.playingtime,...,attributes.t.links.concat.2....,stats.subtype.rpgitem.bayesaverage,stats.subtype.rpgitem.pos,stats.weight.factor,details.playingtime.factor,details.minplayers.factor,details.maxplayers.factor,details.minage.factor,stats.average.factor,topic
0,1,1,boardgame,5.0,240.0,14.0,3.0,240.0,Die Macher,240.0,...,None,NaN,NaN,4,240+,3,5,14,"[7.00,9.83]",Monopoly-inspired
1,2,2,boardgame,4.0,30.0,12.0,3.0,30.0,Dragonmaster,30.0,...,None,NaN,NaN,2,30,3,4,12,"[6.40,7.00)",Traditional Card Games
2,3,3,boardgame,4.0,60.0,10.0,2.0,30.0,Samurai,60.0,...,None,NaN,NaN,3,60,2,4,10,"[7.00,9.83]",Area Control Games
3,4,4,boardgame,4.0,60.0,12.0,2.0,60.0,Tal der Könige,60.0,...,None,NaN,NaN,3,60,2,4,12,"[6.40,7.00)",Corporate Strategy Games
4,5,5,boardgame,6.0,90.0,12.0,3.0,90.0,Acquire,90.0,...,None,NaN,NaN,3,90,3,6,12,"[7.00,9.83]",Corporate Strategy Games
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29308,29309,219661,boardgame,4.0,40.0,8.0,2.0,20.0,Crop Rotation,45.0,...,None,NaN,NaN,2,45,2,4,8,"[7.00,9.83]",Abstract Strategy Games
29309,29310,219666,boardgame,5.0,50.0,8.0,2.0,30.0,Ciudad de Cartón,45.0,...,None,NaN,NaN,1,45,2,5,8,"[7.00,9.83]",Monopoly-inspired
29310,29311,219774,boardgame,5.0,70.0,10.0,2.0,40.0,Vikings Gone Wild Ultimate Set,75.0,...,None,NaN,NaN,0,75,2,5,10,"[7.00,9.83]",Crowdfunded Card Games
29311,29312,219807,boardgame,2.0,0.0,0.0,2.0,0.0,Test of Honour: The Samurai Miniatures Game,0.0,...,None,NaN,NaN,2,0,2,2,0,"[7.00,9.83]",Modern Wargames
29312,29313,219832,boardgame,4.0,90.0,0.0,2.0,60.0,Barbarians: The Invasion,90.0,...,None,NaN,NaN,4,90,2,4,0,"[7.00,9.83]",Corporate Strategy Games