### SQL Assignment
- Read in the data for each table
- Use code to show the number of rows and columns for each table in the database.

In [1]:
#library to use dataframes
import pandas as pd

#library to connect & interact with databases
from sqlalchemy import create_engine, inspect

In [2]:
#set the database file location to a variable
db_file = r'datasets/boardgames.sqlite'

# set the connection to SQLite database in a variable
engine = create_engine(f"sqlite:///{db_file}")

In [19]:
#get a list of all the tables in the database
engine.table_names()

['BoardGames',
 'bgg.ldaOut.top.documents',
 'bgg.ldaOut.top.terms',
 'bgg.ldaOut.topics',
 'bgg.topics']

In [8]:
inspector = inspect(engine)

fields = inspector.get_columns('BoardGames')
field_names = pd.DataFrame.from_dict(fields)
field_names

,name,type,nullable,default,autoincrement,primary_key
0,row_names,TEXT,True,None,auto,0
1,game.id,TEXT,True,None,auto,0
2,game.type,TEXT,True,None,auto,0
3,details.description,TEXT,True,None,auto,0
4,details.image,TEXT,True,None,auto,0
...,...,...,...,...,...,...
76,stats.family.commodore64.pos,REAL,True,None,auto,0
77,stats.subtype.rpgitem.bayesaverage,REAL,True,None,auto,0
78,stats.subtype.rpgitem.pos,REAL,True,None,auto,0
79,stats.subtype.videogame.bayesaverage,REAL,True,None,auto,0
80,stats.subtype.videogame.pos,REAL,True,None,auto,0

In [10]:
fields = inspector.get_columns('bgg.ldaOut.top.documents')
field_names = pd.DataFrame.from_dict(fields)
field_names

        name     type  nullable default autoincrement  primary_key
0  row_names     TEXT      True    None          auto            0
1   document     TEXT      True    None          auto            0
2      topic  INTEGER      True    None          auto            0
3      gamma     REAL      True    None          auto            0

In [11]:
fields = inspector.get_columns('bgg.ldaOut.top.terms')
field_names = pd.DataFrame.from_dict(fields)
field_names

        name     type  nullable default autoincrement  primary_key
0  row_names     TEXT      True    None          auto            0
1      topic  INTEGER      True    None          auto            0
2       term     TEXT      True    None          auto            0
3       beta     REAL      True    None          auto            0

In [12]:
fields = inspector.get_columns('bgg.ldaOut.topics')
field_names = pd.DataFrame.from_dict(fields)
field_names

                 name     type  nullable default autoincrement  primary_key
0           row_names     TEXT      True    None          auto            0
1  topics(bgg.ldaOut)  INTEGER      True    None          auto            0

In [13]:
fields = inspector.get_columns('bgg.topics')
field_names = pd.DataFrame.from_dict(fields)
field_names

,name,type,nullable,default,autoincrement,primary_key
0,row_names,TEXT,True,None,auto,0
1,game.id,TEXT,True,None,auto,0
2,game.type,TEXT,True,None,auto,0
3,details.maxplayers,INTEGER,True,None,auto,0
4,details.maxplaytime,INTEGER,True,None,auto,0
...,...,...,...,...,...,...
69,details.minplayers.factor,TEXT,True,None,auto,0
70,details.maxplayers.factor,TEXT,True,None,auto,0
71,details.minage.factor,TEXT,True,None,auto,0
72,stats.average.factor,TEXT,True,None,auto,0
73,topic,TEXT,True,None,auto,0

In [9]:
#get all the rows from the "BoardGames" table in the database
bg = "SELECT * FROM BoardGames;"

#the read_sql function takes in the SQL statement for the information requested and the engine (to connect to database)
data_df = pd.read_sql(bg, engine)
data_df

,row_names,game.id,game.type,details.description,details.image,details.maxplayers,details.maxplaytime,details.minage,details.minplayers,details.minplaytime,...,stats.family.arcade.bayesaverage,stats.family.arcade.pos,stats.family.atarist.bayesaverage,stats.family.atarist.pos,stats.family.commodore64.bayesaverage,stats.family.commodore64.pos,stats.subtype.rpgitem.bayesaverage,stats.subtype.rpgitem.pos,stats.subtype.videogame.bayesaverage,stats.subtype.videogame.pos
0,1,1,boardgame,Die Macher is a game about seven sequential po...,//cf.geekdo-images.com/images/pic159509.jpg,5.0,240.0,14.0,3.0,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,boardgame,Dragonmaster is a trick-taking card game based...,//cf.geekdo-images.com/images/pic184174.jpg,4.0,30.0,12.0,3.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3,boardgame,"Part of the Knizia tile-laying trilogy, Samura...",//cf.geekdo-images.com/images/pic3211873.jpg,4.0,60.0,10.0,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4,boardgame,When you see the triangular box and the luxuri...,//cf.geekdo-images.com/images/pic285299.jpg,4.0,60.0,12.0,2.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,5,boardgame,"In Acquire, each player strategically invests ...",//cf.geekdo-images.com/images/pic342163.jpg,6.0,90.0,12.0,3.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90395,90396,220053,boardgame,Soldier Ball is a tabletop skill and strategy ...,//cf.geekdo-images.com/images/pic3436079.jpg,2.0,15.0,4.0,2.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90396,90397,220055,boardgame,Description from the designer:&#10;&#10;The ye...,//cf.geekdo-images.com/images/pic3529002.jpg,4.0,45.0,14.0,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90397,90398,220068,boardgameexpansion,Cecrops founded Athens and judged a competitio...,//cf.geekdo-images.com/images/pic3503602.jpg,4.0,90.0,14.0,1.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90398,90399,220069,boardgameexpansion,"The famous Myrmidons are the army of Achilles,...",//cf.geekdo-images.com/images/pic3437871.jpg,4.0,90.0,14.0,1.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90399,90400,220070,boardgame,A snowbound small village. It quietly approach...,None,6.0,20.0,12.0,3.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN